/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	code {
		padding: 3px 6px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		background: #fcfcfc;
		border: 1px solid #e4e4e4;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: #3f8faf;
	}

/* #Basic Styles
================================================== */
	body {
		font: 12px Arial, sans-serif;
		color: #606060;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		overflow-x: hidden;
	}


/* Basic Alginment
================================================== */
.columns img, .column img{max-width: 100%; height: auto;}
.content img{border: 1px solid #dfdfdf; margin-bottom: 15px;}

.item-img img {width: 100%; height: auto;}

.align-left{float: left;}
.align-center{text-align: center;}
.align-right{float: right}

img.align-left{float: left; margin: 0 15px 12px 0;}
img.align-center{text-align: center; clear: both; margin: 15px auto; display: block;}
img.align-right{float: right; margin: 0 0 12px 15px;}

/* Flexible Embeds */
.embed {
    position: relative;
    padding: 0px;
    padding-bottom: 56.25%; /* 16/9 ratio */
    height: 0;
    overflow: hidden;
}

.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-left {float: left; margin: 0 15px 8px 0; padding: 3px; border: 1px solid #dedede; }
.image-right {float:right; margin: 0 0 8px 15px; padding: 3px; border: 1px solid #dedede; }

/* #Forms
================================================== */
	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #d8d8d8;
		padding: 9px;
		outline: none;
		font: 12px Arial, sans-serif;
		color: #888;
		margin: 0;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff;
		-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
        box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		}
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #c8c8c8;
 		color: #606060; 
		}
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 12px; 
		font-weight: normal;
		margin-bottom: 5px;}
	select {
		 }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

.clearfix {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}

.image-left {float: left; margin: 0 15px 8px 0; padding: 3px; border: 1px solid #dedede; }
.image-right {float:right; margin: 0 0 8px 15px; padding: 3px; border: 1px solid #dedede; }

.header{
	margin: 23px 0 0;
}

.header  > a {
	text-decoration: none;
}

.pagination > li > a {
     /* background-color: #870000; */
}
.pagination > li > a:hover {
    /* background-color: #870000; */
    /* color: #ffffff; */
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    /* background-color: #870000; */
    border-color: #428bca;
    color: #ffffff;
    cursor: default;
    z-index: 2;
}

.news, .portfolio, .list-news{
	background-color: #f5f5f5;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.portfolio{
	font-family: Verdana;
}

.portfolio:hover, .list-news:hover{
	background-color: #7f0000;
	color: #fff;
}

body {
    min-height: none;
    /* padding-top: 100px; */
}

.list-news{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #CC0000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #CC0000;
    color: #fff;
}

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #870000;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ddd;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background-color: transparent;
		color: #fff;
	}
}

@media (max-width: 415px) {
	body{
		/* margin-top: 35px; */
	}
}

ul.recent_post, ul.twitter_list, ul.links {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}	

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

ul.recent_post div {
	padding: 3px 0 2px;
}

ul.recent_post li {
	border-bottom: 1px dotted #dadada;
	color: #555;
	margin-bottom: 13px;
	padding: 0 0 8px;
}

sidebar-module {
	margin: 0 0 15px;
}

.carousel-caption > h3 > a {
	text-decoration: none;
	color: #fff;
}

.carousel-caption > h3 > a:hover {
	color: #ddd;
}

.carousel-caption {
	text-align: left;
	left: 15%;
	right: 15%;
}

.pull-center{
	text-align: center;
}

.jumbo-text {
    color: #272727;
    font-size: 40px;
    text-transform: uppercase;
}

.slider_description > p{
    color: #ffff;
    font-size: 14px;
}

.opacity {
    opacity: 1;
}

.opacity:hover {
    opacity: 0.5;
}

.list-inline-btn > li {
    display: inline-flex;
    padding-left: 0px;
    padding-right: 0px;
}

.list-inline-btn > li.active > a, 
.list-inline-btn > li.active > a:hover, 
.list-inline-btn > li.active > a:focus, 
.list-inline-btn > li > a:hover{
    background-color: #286090;
	color: #fff;
	/* background-color: #f5f5f5; */
	border-radius: 4px;
	text-decoration: none;
	margin-bottom: 5px;
}

.list-inline-btn > li > a {
	background-color: #f5f5f5;
	color: #777;
	border-radius: 4px;
	padding: 10px 10px;
	text-decoration: none;
	margin-bottom: 5px;
}

.list-inline-btn{
	margin-left: 2px;
}

.title{
	font-size: 24px;
}

.footer {
	 background-color: #f5f5f5;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
    box-shadow: 0 0 10px 5px rgba(166, 166, 166, 0.1);
    padding: 20px 0;
	vertical-align: middle;
	 z-index: 1;
}

.list-inline > li.social-icons:hover {
    transform: translate(0px, -10px);
	border: 2px solid #777;
}

.list-inline > li.social-icons {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-left: 2em;
    padding: 20px;
    transition: all 0.5s ease-out 0s;
}

.social-media{
	margin:5em 0;
}

hr{
	margin-bottom: 10px;
    margin-top: 10px;
}