
/* @import "navigation.css"; */
html, body {
    height: 100%;
}
body {
    overflow-y: scroll;
}
#wrap {
    box-sizing: border-box;
    display: table;
    height: 100%;
    width: 100%;
}
#innerwrap {
    display: table-row;
    height: 100%;
}
#footer {
    display: table-row;
    height: 1px;
}
h1 {
    font-family: "Oswald",Arial,serif;
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 0 2px 2px gray;
}
h2 {
    color: #870000;
    font-family: "Oswald",Arial,serif;
    font-size: 24px;
}
h3 {
    font-family: "Oswald",Arial,serif;
    font-size: 18px;
    padding-bottom: 7px;
    padding-top: 7px;
}
h3 > a {
    color: #870000;
}
h3 > a:focus, h3 > a:hover {
    color: #870000;
}
h4 {
    font-family: "Oswald",Arial,serif;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}
h5 {
    font-family: "Oswald",Arial,serif;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.well {
    background-color: #cccccc;
}
#aei-navbar-top-img {
    border-bottom: 2px solid #333333;
    border-top: 2px solid #333333;
    color: white;
    padding: 5px 0;
}
#aei-login-form {
    margin-top: 3px;
    white-space: nowrap;
}
.modal {
    color: black;
}
#aei-login-form .form-control {
    width: auto;
}
#aei-navbar-collapse {
}
#aei-navbar-bottom {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #4c0000 0%, #870000 10%, #870000 100%) repeat scroll 0 0;
    color: #aaaaaa;
    font-size: 12px;
}
#aei-navbar-bottom a {
    border-bottom: 1px dotted;
    color: #aaaaaa;
    text-decoration: none;
}
#aei-navbar-bottom a:hover {
    border-bottom: 1px solid;
}
#aei-footer-bottom {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #333333 0%, #555555 40%, #555555 100%) repeat scroll 0 0;
    color: #ddd;
    font-size: 10px;
    font-style: italic;
    height: 30px;
}
#aei-footer-bottom {
    padding-top: 8px;
}
#aei-footer-bottom a {
    border-bottom: 1px dotted;
    color: #ddd;
    text-decoration: none;
}
#aei-footer-bottom a:hover {
    border-bottom: 1px solid;
    color: #cccccc;
}
.dark-gray-bg {
    background-color: #4f4f4f;
    color: white;
}
.light-gray-bg {
    background-color: #a7a7a7;
    color: black;
}
.dark-red-bg {
    background-color: #870000;
    color: white;
}
.spacer {
    clear: both;
    display: block;
    height: 20px;
    line-height: 20px;
    width: 100%;
}
.ul-no-padding {
    list-style-type: none;
    padding: 0;
}
#afiliasi a, #afiliasi a:link {
    border-bottom: medium none;
    text-decoration: none;
}
#afiliasi .afiliasi-logo {
    list-style-type: none;
    padding: 0;
}
#afiliasi .afiliasi-logo > li:first-child {
    float: left;
    margin-right: 10px;
}
#afiliasi .afiliasi-logo > li {
    min-height: 42px;
}
#afiliasi .afiliasi-logo .afiliasi-name {
    border-bottom: 1px dotted;
}
#afiliasi .afiliasi-logo .afiliasi-name:hover {
    border-bottom: 1px solid;
}
.breadcrumb-holder {
    background-color: #555555;
    height: 32px;
}
.breadcrumb-holder .breadcrumb {
    background-color: transparent;
    color: white;
}
.breadcrumb-holder .crumbs a {
    color: white;
}
#content {
    padding-top: 20px;
}
#footer-socials {
    float: right;
}
#footer-socials > li {
    float: left;
    margin-right: 10px;
}
#footer-socials > li > a {
    border-bottom: medium none;
    text-decoration: none;
}
#footer-socials > li > a:hover {
    border-bottom: medium none;
}
#content a {
    background-color: #fcf6cf;
    color: black;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}
#content a:hover {
    background-color: #870000;
    color: white;
}
.ul-zebra {
    list-style-type: none;
    padding: 0;
}
.ul-zebra-inner {
    list-style-type: none;
    padding: 0;
}
.ul-zebra a {
    color: #870000;
}
.ul-zebra > li:nth-child(2n+1), .ul-zebra > li:nth-child(2n+1) > ul {
    background-color: #d4d4d4;
}
.ul-zebra > li:nth-child(2n), .ul-zebra > li:nth-child(2n) > ul {
    background-color: #cccccc;
}
.ul-zebra > li > a {
    display: block;
}
.ul-zebra-inner > li > a, .ul-zebra-inner > li.active {
    display: block;
    padding-left: 15px;
}
.ul-zebra > li > a:hover, .ul-zebra-inner > li > a:hover {
    background-color: #bbbbbb;
    text-decoration: none;
}
.ul-zebra .ul-zebra-row-wrapper {
    display: block;
    padding: 10px;
}
.ul-zebra .ul-zebra-row-title {
    display: block;
    font-family: "Oswald",sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}
.ul-zebra .valid, .ul-zebra .invalid {
    display: block;
}
.valid {
    color: green;
}
.invalid {
    color: red;
}
.ul-zebra > li.active, .ul-zebra-inner > li.active {
    background-color: #870000;
    color: white;
}
.ul-zebra > li.active .invalid {
    color: white;
}
.pagination > li > a {
    color: #870000;
}
.pagination > li > a:hover {
    background-color: #870000;
    color: #ffffff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #870000;
    border-color: #428bca;
    color: #ffffff;
    cursor: default;
    z-index: 2;
}

.title{
	font-size: 24px;
}

.news, .portfolio, .list-news{
	background-color: #f5f5f5;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.portfolio{
	font-family: Verdana;
}

.portfolio:hover, .list-news:hover{
	background-color: #7f0000;
	color: #fff;
}

body {
    min-height: none;
    padding-top: 100px;
}

.list-news{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #CC0000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #CC0000;
    color: #fff;
}

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #870000;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ddd;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background-color: transparent;
		color: #fff;
	}
}

@media (max-width: 415px) {
	body{
		margin-top: 35px;
	}
}

ul.recent_post, ul.twitter_list, ul.links {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}	

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

ul.recent_post div {
	padding: 3px 0 2px;
}

ul.recent_post li {
	border-bottom: 1px dotted #dadada;
	color: #555;
	margin-bottom: 13px;
	padding: 0 0 8px;
}

sidebar-module {
	margin: 0 0 15px;
}

.carousel-caption > h3 > a {
	text-decoration: none;
	color: #fff;
}

.carousel-caption > h3 > a:hover {
	color: #ddd;
}

.carousel-caption {
	text-align: left;
	left: 15%;
	right: 15%;
}

.pull-center{
	text-align: center;
}

.jumbo-text {
    color: #272727;
    font-size: 40px;
    text-transform: uppercase;
}

.slider_description > p{
    color: #ffff;
    font-size: 14px;
}